# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  schedule:
    # runs once a week
    - cron: '0 6 * * 0'
    # runs every day
    # - cron: '0 12 * *'
  push:
    branches: [ "master", "try_ci" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Pull qgis image
      run: docker pull qgis/qgis
    - name: Find Python executable path
      run: |
        docker run --rm qgis/qgis sh -c "\
          if [ -x /usr/bin/python3 ]; then echo /usr/bin/python3; \
          elif [ -x /usr/bin/python ]; then echo /usr/bin/python; \
          else echo 'Python executable not found'; exit 1; fi" 
      id: python-path

    - name: Update pip
      run: docker run --rm --net=host --volume `pwd`:/app -w=/app qgis/qgis sh -c "/usr/bin/python3 -m pip install --upgrade pip"  
    - name: Install requirements
      run: docker run --rm --net=host --volume `pwd`:/app -w=/app qgis/qgis sh -c "/usr/bin/python3 -m pip install -r requirements.txt --prefer-binary" 
    - name: run tests
      run: docker run --rm --net=host --volume `pwd`:/app -w=/app qgis/qgis sh -c "/usr/bin/python3 -m pytest tests -v"
    
